:root {
  --primaryColor: #2d4059;
  --secondColor: #ea5455;
  --accentColor: #f7b801;
  --neutralColor1: #4f5d75;
  --neutralColor2: #a3b5c1;
  --pastel1: #f6d8ae;
  --pastel2: #e1d1d0;
  --pastel3: #d0ece7;
  --pastel4: #c6d1cd;
  --pastel5: #f7e1d7;
}

.ingredientViewItem {
  display: flex;
  width: 50vh;
  max-height: fit-content;
  justify-content: space-between;
  margin: 20px auto;
  padding: 5px;
  border: 5px solid purple;
  list-style: none;
  font-size: 15px;
}

.ingredientName {
  margin: auto;
  max-width: 70%;
  height: fit-content;
}
.edit {
  font-size: 15px;
  width: fit-content;
  height: fit-content;
  margin: auto 10px;
}

.delete {
  font-size: 15px;
  width: fit-content;
  height: fit-content;
  margin: auto 10px;
}

.checkbox {
  width: 5%;
  margin: auto 2%;
}
.made {
  margin: auto 0;
}
.ingredPic {
  border: none;
  height: 50px;
  width: auto;
}
/* .ToDoListItem div {
  width: 4vmin;
  height: 4vmin;
  margin-right: 4vmin;
  background-color: black;
  color: white;
  border-radius: 50%;
  margin: auto 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
} */
