.NavBar {
  background: rgb(85, 108, 180);
  color: rgb(13, 26, 38);
  top: 0;
  min-height: fit-content;
  line-height: 60px;
  width: 100%;
  margin: 0 0 3vh 0;
}

.NavContainer {
  margin: auto;
  text-align: center;
  width: 100%;
  color: rgb(237, 243, 239);
}

a {
  text-decoration: none;
}

.NavContainer a {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin-top: -2px;
  text-align: center;
}

.NavContainer a {
  color: rgb(237, 243, 239);
  font-weight: bold;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.NavContainer a {
  color: rgb(237, 243, 239);
  text-decoration: none;

  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.NavContainer a:before,
.NavContainer a:after {
  text-decoration: none;

  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(237, 243, 239);
}

.NavContainer a:before {
  text-decoration: none;

  left: 0;
  transition: 0.5s;
}

.NavContainer a:after {
  background: rgb(237, 243, 239);
  text-decoration: none;

  right: 0;
}

.NavContainer a:hover:before {
  background: rgb(237, 243, 239);
  text-decoration: none;

  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

.NavContainer a:hover:after {
  background: transparent;
  text-decoration: none;

  width: 100%;
}
