:root {
  --primaryColor: #2d4059;
  --secondColor: #ea5455;
  --accentColor: #f7b801;
  --neutralColor1: #4f5d75;
  --neutralColor2: #a3b5c1;
  --pastel1: #f6d8ae;
  --pastel2: #e1d1d0;
  --pastel3: #d0ece7;
  --pastel4: #c6d1cd;
  --pastel5: #f7e1d7;
}

.recipeListItem {
  display: flex;
  justify-content: space-around;
  margin: 5vh 8vh;
  padding: 10px;
  border: 3px solid var(--secondColor);
  list-style: none;
  font-size: 24px;
  text-align: center;
  background-color: var(--pastel4);
}

img {
  height: 20vh;
  width: 20vh;
  border: solid black 3px;
}

div,
h3,
h4 {
  margin: auto 0;
  color: var(--secondColor);
}

.recipeName,
.recipeCategory,
.recipeCuisine {
  width: 20%;
}
