.categoriesContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1;
}

.row1Column1 {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.row1Column2 {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.buttonTabs {
  margin: 5vh auto;
}

.recipesContainer {
  margin: 5vh 0;
}
