:root {
  --primaryColor: #2d4059;
  --secondColor: #ea5455;
  --accentColor: #f7b801;
  --neutralColor1: #4f5d75;
  --neutralColor2: #a3b5c1;
  --pastel1: #f6d8ae;
  --pastel2: #e1d1d0;
  --pastel3: #d0ece7;
  --pastel4: #c6d1cd;
  --pastel5: #f7e1d7;
}

.pageContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 10vh min-content;
}

.topRow {
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-around;
  height: 10vh;
}

.name {
  width: 20%;
  min-width: fit-content;
  margin: auto 0;
  font-weight: bold;
}

.makeButtonAnchor {
  margin: auto 0;
  width: 20%;
}

.addRecipeButton {
  margin: auto 0;
  padding: 3px 5px;
  height: fit-content;
  width: fit-content;
}

.deleteRecipeButton {
  margin: auto 0;
  padding: 3px 5px;
  height: fit-content;
  width: fit-content;
}

.recipeImage {
  grid-row: 2;
  grid-column: 1;
  width: 40vh;
  height: 40vh;
  margin: 5vh auto;
  border: solid black 4px;
}

.ingredientsAndMethodContainer {
  grid-row: 2;
  grid-column: 2;
  margin: 5vh auto;
}

.ingredientsContainer {
  margin: 2vh auto;
}

.ingredientsLabel {
  font-weight: bold;
}

.methodContainer {
  margin: 2vh auto;
}

.methodLabel {
  font-weight: bold;
}

.list {
  padding: 0;
}
/* .recipeImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
} */
